---
// Components
import MainLayout from "@layouts/MainLayout.astro";
import ErrorModel from "@components/ErrorModel";
import FooterComponent from "@components/Footer.astro";

// Assets
import discordLogo from "@assets/icons/discord-mark-white.svg";
import checkMark from "@assets/icons/done-icon.svg";
import heroImage from "@assets/hero-discord-logo.png";

const error = Astro.url.searchParams.get("error");
---

<MainLayout title="Kenexar - Discord bot">
	<main class="bg-slate-700 h-screen w-full overflow-x-hidden">
		{() => {
			if (error) {
				return (
					<ErrorModel client:load
						title="Error"
						description={error}
					/>
				);
			}
		}}
		<header
			class="bg-[#090807] bg-opacity-20 w-full z-10 px-9 lg:px-64 lg:absolute flex justify-between items-center h-14 text-white"
		>

			<span class="text-sm md:text-xl uppercase flex items-center">
				<img
				src="https://raw.githubusercontent.com/Kenexar/Kenexar/master/assets/img/KenexarLogo_Transparent200x200.png"
				alt="Kenexar Logo"
				class="h-12 w-12"
			/>
				Kenexar
			</span>
			<a
				class="bg-gray-600 text-gray-300 cursor-not-allowed md:hidden flex items-center text-sm gap-2 transition px-3 py-2 rounded mr-4"
				>
				Dashboard
			</a>
			<div class="hidden md:flex items-center">
				<p
					class="bg-gray-600 text-gray-300 cursor-not-allowed transition px-5 py-2 rounded mr-4"
					>
					Dashboard</p
				>
				<a
					class="bg-green-600 flex items-center gap-2 hover:bg-green-700 active:bg-green-500 transition px-5 py-2 rounded mr-4"
					href="https://discord.com/api/oauth2/authorize?client_id=841508597577678880&permissions=8&scope=bot">
					<img 
					class="p-0 h-6 w-6"
					src={discordLogo}
					alt="discord logo"/>
					Invite Bot</a
				>
			</div>
		</header>
		<section
			id="hero"
			style="background: linear-gradient(180deg, rgba(9, 8, 7, 0.5) 50%, rgba(47, 9, 11, 0.8) 100%); z-index: 1;"
			class="h-full relative text-white flex items-center justify-center before:z-[-1] before:left-0 before:top-0 before:opacity-5 before:absolute before:content-[url('https://i.gyazo.com/d7b539b87816c74a1c0622eee4c4a096.png')]"
			>
			<div class="flex mx-9 xl:mx-64 w-screen items-center justify-between gap-20">
				<div class="w-full lg:w-[35rem]">
					<h1 class="text-2xl lg:text-4xl pb-4 mb-4 border-b solid border-t-gray-700 text-left font-bold">
						Verbessern Sie Ihre Community-Interaktion mit dem besten Discord Bot der uns bekannten Welt!
					</h1>
					<span class="text-sm lg:text-1xl">
						Verbessern Sie Ihre Community-Interaktion mit dem besten Discord Bot der uns bekannten Welt! Unser Open-Source Bot bietet die Flexibilität und Anpassbarkeit, um Ihre Anforderungen zu erfüllen.
					</span>
					<ul class="mt-5 list-inside font-semibold">
						<li class="flex">
							<img src={checkMark} class="w-7 h-7 mr-1" alt="check mark">
							Open-Source
						</li>
						<li class="flex">
							<img src={checkMark} class="w-7 h-7 mr-1" alt="check mark">
							Performance
						</li>
						<li class="flex">
							<img src={checkMark} class="w-7 h-7 mr-1" alt="check mark">
							Easy Setup
						</li>
					</ul>
					<a
						class="bg-green-600 mt-5 flex justify-center items-center gap-2 hover:bg-green-700 active:bg-green-500 transition px-5 py-2 rounded mr-4"
						href="https://discord.com/api/oauth2/authorize?client_id=841508597577678880&permissions=8&scope=bot">
						<img 
						class="p-0 h-6 w-6"
						src={discordLogo}
						alt="discord logo"/>
							Invite Bot
					</a>
				</div>

				<img src={heroImage} alt="discord logo" class="hidden lg:block animate-[wiggle_2s_ease-in-out_infinite] h-96 w-96" />
			</div>
		</section>
		
		<FooterComponent/>
	</main>
</MainLayout>
